.descrip__section {
    padding-top: 94px;
}

.entrance {
    padding-bottom: 0;
}

.visually__hidden{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.depiction {
    display: flex;
    gap: 30px;
}

.depiction__title {
    width: 270px;
}

.depiction__title::before {
    display: inline-block;
    content: '';
    width: 270px;
    height: 120px;
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
} 

.depiction__mobile::before {
    background-image: url('../img/antenna\ 1.png');
    border-radius: 4px;
    margin-bottom: 30px;
}

.depiction__clock::before {
    background-image: url('../img/clock\ 1.png');
    border-radius: 4px;
    margin-bottom: 30px;
}

.depiction__diagram::before {
    background-image: url('../img/diagram\ 1.png');
    border-radius: 4px;
    margin-bottom: 30px;
}

.depiction__astronaut::before {
    background-image: url('../img/astronaut\ 1.png');
    border-radius: 4px;
    margin-bottom: 30px;
}

.title__conn {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
    margin-bottom: 10px;
}

.depiction__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}