
<<<<<<< HEAD
=======

/*.modal-comment {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
 }
*/

>>>>>>> 20d1b689e75789971c3b1ecf9cb176217128ddc2
.visually-hidden {
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.check-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
}

.none {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: #2196F3;
    padding-left: 5px;
}

.check-text span {
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 3px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
<<<<<<< HEAD
    .input-check:checked + & {
        background-color: var(--accent-color);
        border-color: transparent;
        fill: #FFFFFF;
    }
}

=======
}

.input-check:checked + .check-text span {
    background-color: var(--accent-color);
    border-color: transparent;
    fill: #FFFFFF;
}

/*
.check-text::before {
    content: '';
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 3px;
    margin-right: 5px;
}

.input-check:checked + .check-text::before {
    background-color: var(--accent-color);
    border-color: transparent;
    background-image: url(../img/check.svg);
    background-repeat: no-repeat;
    background-position: center;
}
*/

>>>>>>> 20d1b689e75789971c3b1ecf9cb176217128ddc2
.button-send {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--white-color);
    border-radius: 4px;
    width: 200px;
    height: 50px;
    display: block;
    margin: 0 auto;
    border: 0;
<<<<<<< HEAD
}
=======
}
>>>>>>> 20d1b689e75789971c3b1ecf9cb176217128ddc2
