.header {
    padding-top: 24px;
    padding-bottom: 24px;
}

.line {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #ECECEC; 
}

.container {
    width: 1200px;
    padding-left: 0;
    padding-right: 0;    
}

.header__container {
    margin: 0 auto;
    display: flex;
    align-items: center;    
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: none;
    &:focus {
        color: var(--accent-color);
        background-color: inherit;
        outline: 0;
    }
}

<<<<<<< HEAD
=======
.logo:focus {
    color: var(--accent-color);
    background-color: inherit;
    outline: 0;
}

>>>>>>> 20d1b689e75789971c3b1ecf9cb176217128ddc2
.logo__studio{
    color: #000000;
}

.frame__line {
    margin-left: 93px;
}

.site__nav {
    width: 281px;
    height: 16px;
    display: flex;
    gap: 50px;
}

.site__unit.current { 
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    text-decoration: none;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        background-color: var(--accent-color);
        border-radius: 2px;
        left: 0;
        bottom: -28px;
    }
} 

<<<<<<< HEAD
=======

.site__unit.current::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    left: 0;
    bottom: -28px;
}

>>>>>>> 20d1b689e75789971c3b1ecf9cb176217128ddc2
.site__sheave.current {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    text-decoration: none;
    position: relative;
    &:focus {
        color: var(--accent-color);
        background-color: inherit;
        outline: 0;
    }
    &:hover {  
        color: var(--title-text-color);
    } 
    &::after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        background-color: var(--accent-color);
        border-radius: 2px;
        left: 0;
        bottom: -28px;
    }
}

<<<<<<< HEAD
=======
.site__sheave:focus {
    color: var(--accent-color);
    background-color: inherit;
    outline: 0;
}

.site__sheave:hover {  
    color: var(--title-text-color);
} 

.site__sheave::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    left: 0;
    bottom: -28px;
}

/*.unit::after {
    content: '';
    display: inline-block;
    width: 45px;
    height: 16px;
    background-image: url(../img/finger\ 1.png);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: right;
}*/

>>>>>>> 20d1b689e75789971c3b1ecf9cb176217128ddc2
.site__block {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.hookup {
    fill: currentColor;
    color: var(--title-text-color);
    transition: transform 700ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 700ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 700ms cubic-bezier(0.4, 0, 0.2, 1),
    color 700ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    outline: 0;
    transform: scale(1.7);
    background-color: var(--white-color); 
    box-shadow: 2px 2px 2px rgb(228, 38, 203);
    color: var(--accent-color);
    }
}
 

