.header__contact {
    margin-left: auto;
}

.form {
    display: flex;
    height: 16px;
}

.form__conn {
    margin-right: 0;
}
<<<<<<< HEAD
=======

/*.form__email::after {
    content: '';
    display: block;
    width: 161px;
    height: 16px;
    background-image: url(../img/finger\ 1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position: 55px;
    margin-right: 30px;
}*/
>>>>>>> 20d1b689e75789971c3b1ecf9cb176217128ddc2

.form__email {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-decoration: none;          /* прибрати підкреслення */
    margin-right: 50px;
    transition: color 700ms cubic-bezier(0.4, 0, 0.2, 1);
<<<<<<< HEAD
    &:hover,
    &:focus {
=======
}

.form__email:hover,
.form__email:focus {
>>>>>>> 20d1b689e75789971c3b1ecf9cb176217128ddc2
    color: var(--accent-color);
    outline: 0;
    }
}

.apple {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-text-color);
    &:hover {
        color: var(--accent-color);
    }
}

<<<<<<< HEAD
=======
.apple:hover {
    color: var(--accent-color);
}

>>>>>>> 20d1b689e75789971c3b1ecf9cb176217128ddc2
.form__icon {
    fill: currentColor;
    margin-right: 10px;
    &:hover,
    &:focus { 
        color: var(--accent-color);
        outline: 0;
    }
}

<<<<<<< HEAD
.form__number {
=======
.form__number{
>>>>>>> 20d1b689e75789971c3b1ecf9cb176217128ddc2
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    text-decoration: none;      
    display: flex;
    align-items: center;
    transition: color 700ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus { 
        color: var(--accent-color);
        outline: 0;
    }
}

<<<<<<< HEAD
=======
.form__number:hover,
.form__number:focus,
.form__icon:hover,
.form__icon:focus { 
    color: var(--accent-color);
    outline: 0;
}
>>>>>>> 20d1b689e75789971c3b1ecf9cb176217128ddc2
