.mailing {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    padding-top: 60px;
    @media screen and (min-width: 1200px) {
       padding-top: 12px;
    }
}

.maining-header {
    margin-bottom: 20px;
    text-align: center;
    @media screen and (min-width: 480px) {
        padding-top: 0;
    }
    @media screen and (min-width: 768px) {
        padding-top: 0;
    }
    @media screen and (min-width: 1200px) {
        text-align: left;
    }
}

.maining-come {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.mailing-container {
    align-items: center;
    justify-content: center;
    @media screen and (min-width: 1200px) {
        display: flex;
    }
}

.mailing-field {
    margin-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    @media screen and (min-width: 1200px) {
        margin-bottom: 0;
    }
}

.mailing-wrap {
    position: relative;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.modal-input-block {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    box-sizing: border-box;
    background: #2F303A;
    padding-left: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    outline: transparent;
}

.button-mailing {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--white-color);
    border-radius: 4px;
    width: 200px;
    height: 50px;
    display: block;
    margin: 0 auto;
    border: 0;
    fill: currentColor;
    display: flex;
    align-items: center;
    justify-content: center;
}

.links-mailing {
    margin-left: 10px;
    fill: var(--white-color);
}
